* {
    main-bg:            #1A1626B3;
    main-fg:            #D9CCFFE6;
    main-br:            #9A6386E6;
    main-ex:            #4A304FE6;
    select-bg:          #F0AAC780;
    select-fg:          #52293AE6;
}
